@import "./theme.css";

.landingPageGirl {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.infoCardBg {
	height: auto;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../img/LandingPageGuy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.infoCardWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 7% 3% 0% 3%;
	width: auto;
}

.infoCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 10px 0;
	min-height: 400px;
}

.orgid {
	display: flex;
	align-items: center;
	height: 3.1rem;
	border-left: 0.0625rem var(--dark) solid;
	border-top: 0.0625rem var(--dark) solid;
	border-bottom: 0.0625rem var(--dark) solid;
	border-top-left-radius: 0.625rem !important;
	border-bottom-left-radius: 0.625rem !important;
	box-shadow: none;
	letter-spacing: 0.08rem;
	padding-left: 1.25rem;
	padding-right: 1rem;
	background-color: var(--dark);
	color: var(--primary);
}

#orgIdInput .input-error-label {
	top: -28px !important;
}

/* reactflow overrides */

.react-flow__pane {
	cursor: default !important;
}
.react-flow__node {
	cursor: default !important;
}
.react-flow__attribution {
	display: none;
}

.addbuttonedge .addbuttonedge-button {
	display: block;
	width: 25px;
	height: 25px;
}

.addbuttonedge:hover .addbuttonedge-button {
	display: block;
}
