:root {
	--primary: #ffcc08;
	--secondary: #ffe88e;
	--accent: #493b08;
	--dark: #1e2328;
	--dark-light: #55575e;
	--gray: #efefef;
	--gray-light: #f7f7f7;
	--white: #fff;
	--active: #1b88d2;
	--warning: #ea902f;
	--success: #2a8f4f;
	--danger: #e44949;
	--font-light: "Rethink Sans", sans-serif;
	--font: "Rethink Sans", sans-serif;
	--font-bold: "Rethink Sans", sans-serif;
}
